<!DOCTYPE html>
<html lang="en">
<head>
<center>
<style>
body{
overflow: hidden;
margin: 1%;
padding:1%;
background-size: 1600px 999px;
}
button{
background-color:#6a5acd;
padding: 8px 15px;
border-radius:2px;
cursor: pointer;
 }     
</style>
<meta charset="UTF-8">
<body background = "https://wallpaperaccess.com/full/878615.jpg"
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flight Delay Prediction</title>
</head>
<br><br>
<h2>SHOWCASE</h2>
<br><br>
<br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<form action='/'>
<button type='submit' ><b>GO BACK<b></button>
</form>
</center>
</body>
</html>
